.app__content {
    height: 60rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    background: var(--color-black);
}

.app__tutorial {
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 2rem;
}
  
  